/* место для вашего кода */
body{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
    margin:0;
    padding:0;
    font-style: normal;
}

.content-section{
    box-sizing: border-box;
    width: 1100px;
    /* min-height: 100px; */
    margin: auto;
    background-color: #fff;
}

/* ==== Блок стилей для header ==== */

.header{
    display: grid;
    align-items: center;
    padding: 92px 50px 96px 50px;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
}

.header__menu-list{
    display: flex;
    gap: 32px;
    font-size: 18px;
    line-height: 21.13px;
}

.header__menu-items_active{
    list-style-type: none;
}

.header__menu-items{
    list-style-type: circle;
    text-underline-offset: 4px;
}

.header__logo-image{
    width: 148px;
    height: 105px;
}

.header__address{
    max-width: 240px;
    justify-self: end;
    text-underline-offset: 4px;
}

.header__address a, p{
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0;

}
/* =============================== */
/* ==== Блок стилей для cover ==== */
.cover{

    position: relative;
    min-height: 757px;
    background: url(../images/cover.jpg);
    background-size: cover;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .4);
    padding: 165px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover__title{
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 130px;
    letter-spacing: 32px;

}

.accent-span{
    display: block;
}

.text-center{
    text-align: center;
    margin-right: -32px;
}

.text-right{
    text-align: right;
    margin-right: -32px;
}


.cover__subtitle{
    display: flex;
    color: #fff;
    text-transform: uppercase;
    height: 51px;
    align-items: center;
    justify-content: space-between;
}

.cover__subtitle-text{

    word-spacing: 19px;
}

.cover__subtitle-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 100%;
    border:  1px solid #fff;

}

.cover__subtitle-text, .cover__subtitle-button{
    font-weight: 400;
    font-size: 22px;
}


/* =============================== */